@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: "Quicksand";
    src: url("/Quicksand-VariableFont_wght.woff2")
        format("woff2");
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    --color-fondo-linkedin: white;
    --color-fondo-github: #171515;
    --color-azul-outlook: #0f3464;
    --color-viaazul-outlook: #034fa0;
    --color-lightazul-outlook: #249ee4;
    --color-amarillo-ig: rgba(255, 223, 32, 1);
    --color-rosa-ig: rgba(230, 0, 118, 1);
    --color-morado-ig: rgba(152, 16, 250, 1);

    --font-Quick: "Quicksand", system-ui, sans-serif;

    --animate-skills-left-spin: skills-left-spin 10s linear infinite ;
    --animate-skills-right-spin: skills-right-spin 10s linear infinite;

    @keyframes skills-left-spin {
        from {transform: translateX(0)}
        to {transform: translateX(calc(-50%)) }
    }

    @keyframes skills-right-spin {
        from {transform: translateX(-50%)}
        to {transform: translateX(0)}
    }

}

